<div class="dialogue-footer">
    <div id="dialogue-import-export">
        <input id="dialogue-import" type="file" accept="application/json">
        <label class="btn btn-info" for="dialogue-import">{% include svg/octicon-upload.svg %}
            Import JSON dialogue file</label>
        <button id="dialogue-view-toggle" class="btn btn-success">{% include {{include.toggleIcon}} %} Toggle Graph View</button>
        <button class="btn btn-warning" id="dialogue-export">
            {% include svg/octicon-download.svg %} Export JSON dialogue file
        </button>
        <div class="drop-zone">
            {% include svg/octicon-upload.svg %} Drop a dialogue file <strong class="drop-zone">here</strong> to import
        </div>
    </div>
    <p class="dialogue-io-log info-log"></p>
    <p class="dialogue-io-log warning-log"></p>
    <p class="dialogue-io-log error-log"></p>
</div>
