{% include wip.liquid message="Conditional choices (added in Blabber 1.0) are not yet available in this editor." %}

<noscript>
    <p>
        Sorry, this page requires Javascript to function. Here's a few options for you:
    </p>

    <ul>
        <li><a href="https://www.whatismybrowser.com/guides/how-to-enable-javascript/auto">Try enabling Javascript on your browser</a></li>
        <li><a href="../">Go back to Blabber's description</a></li>
        <li><a href="../dialogue.schema.json">Look at the Dialogue Schema specification</a></li>
    </ul>
</noscript>
