---
layout: default
no_anchor_headings: true
title: Blabber Dialogue Editor
extra_css: /wiki/blabber/dialogue_generator/dialogue.css
og:
    img: /img/blabber.png
    img_alt: blabber logo
    desc: Online editor for blabber dialogue
---
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="/wiki/blabber">Blabber</a></li>
        <li class="breadcrumb-item active" aria-current="page">Dialogue Editor</li>
    </ol>
</nav>

{% include_relative header.liquid %}

<div id="dialogue-editor" class="dialogue-landing" hidden>
    <form id="new-dialogue">
        <h3>Create a dialogue</h3>
        <div>
            <label for="filename">
                <span>Pick a file name:</span><i>(it will be part of your dialogue's ID)</i><br/>
                <span class="dialogue-filename">
                    <input maxlength="64" id="filename" pattern="[a-z0-9_\-]+" type="text" placeholder="my_awesome_dialogue"/>
                    <span class="file-extension">.json</span>
                </span>
            </label>
        </div>
        <div class="option">
            <input type="checkbox" id="dialogue-unskippable" checked/>
            <label for="dialogue-unskippable">Can this dialogue be skipped? <i>(e.g. with the escape key)</i></label>
        </div>
        <fieldset id="dialogue-text-format">
            <legend>Which format should this editor use for texts? </legend>
            <span class="option">
                <input id="literal-text" type="radio" name="text-format" value="literal"/><label for="literal-text"><span aria-hidden="true" class="icon">📃</span>Literal Text <i>(Easier for playing around)</i></label>
            </span>
            <span class="option">
                <input id="translation-keys" type="radio" name="text-format" value="translate"/><label for="translation-keys"><span aria-hidden="true" class="icon">🌐</span>Translation Key <i>(Recommended for public releases)</i></label>
            </span>
            <span class="option">
                <input id="json-text" type="radio" name="text-format" value="json"/><label for="json-text"><span aria-hidden="true" class="icon">💻</span>Raw JSON <i>(See also <a href="https://minecraft.wiki/w/Raw_JSON_text_format">the wiki page {%include svg/external-link.svg%}</a>, or <a href="https://minecraft.tools/en/json_text.php">a generator {%include svg/external-link.svg%}</a>)</i></label>
            </span>
        </fieldset>
        <div class="dialogue-state-name">
            <label for="start_dialogue_state_name">Pick an internal ID for your first dialogue state:</label>
            <input id="start_dialogue_state_name" class="name-input" pattern="[a-z0-9_\-]+" type="text" placeholder="start, first_steps, ..." value="start"/>
        </div>
        <div class="dialogue-state-name">
            <label for="end_dialogue_state_name">Pick an internal ID for an end dialogue state: <i>(you can make more later)</i></label>
            <input id="end_dialogue_state_name" class="name-input" pattern="[a-z0-9_\-]+" type="text" placeholder="end, goodbyes, ..." value="end"/>
        </div>
        <button type="submit" class="btn btn-success rounded">Start editing</button>
    </form>
    <span class="vertical-separator"></span>
    <div id="dialogue-import-export">
        <input id="dialogue-import" type="file" accept="application/json">
        <label class="btn btn-info" for="dialogue-import">{% include svg/octicon-upload.svg %} Import JSON dialogue file</label>
        <i>Or drop a dialogue file in this area to import</i>
        <div class="drop-zone">
            {% include svg/octicon-upload.svg %} Drop a dialogue file <strong class="drop-zone">here</strong> to import
        </div>
        <p class="dialogue-io-log info-log"></p>
        <p class="dialogue-io-log warning-log"></p>
        <p class="dialogue-io-log error-log"></p>
    </div>
</div>

<script src="dialogue-init.js" type="module"></script>
