---
layout: default
no_anchor_headings: true
title: Blabber Dialogue Editor
extra_css: /wiki/blabber/dialogue_generator/dialogue.css
og:
    img: /img/blabber.png
    img_alt: blabber logo
    desc: Online editor for blabber dialogue
---
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="/wiki/blabber">Blabber</a></li>
        <li class="breadcrumb-item"><a href="/wiki/blabber/dialogue_generator">Dialogue Editor</a></li>
        <li class="breadcrumb-item active" aria-current="page"><span id="dialogue-filename" contenteditable="true">untitled</span>.json</li>
    </ol>
</nav>

{% include_relative header.liquid %}

<div id="dialogue-editor" hidden>
    <div class="dialogue-properties">
        <details class="dialogue-global-properties">
            <summary>
                <h3>Global Properties</h3>
            </summary>
            <div class="menu">
<!--                <label for="dialogue-filename-input">File name</label><input id="dialogue-filename-input" type="text"/>-->
                <label for="dialogue-unskippable">Skippable?</label><span class="yes-no-container"><input type="checkbox" class="yes-no-input" id="dialogue-unskippable"/><label for="dialogue-unskippable" class="btn btn-xs btn-yes">{% include svg/checked-box.svg %} Yes</label><label for="dialogue-unskippable" class="btn btn-xs btn-no">{% include svg/unchecked-box.svg %} No</label></span>
                <label for="dialogue-start-at">Starting state</label><select title="Starting state selector; requires at least one state to exist" id="dialogue-start-at"></select>
                <label for="dialogue-text-format">Editor text format</label>
                <span>
                    <select id="dialogue-text-format">
                        <option value="literal">📃 Literal Text</option>
                        <option value="translate">🌐 Translation Key</option>
                        <option value="json">💻 Raw JSON</option>
                    </select>
                    <span id="raw-text-tip" hidden>See also <a href="https://minecraft.tools/en/json_text.php">Minecraft Tools' Text Generator</a></span>
                </span>
            </div>
        </details>
    </div>
    <div class="wiki-container">
        <div class="toc-pane">
            <h3>Dialogue States</h3>
            <nav class="toc">
                <ul id="dialogue-state-list">

                </ul>
                <form id="new_dialogue_state">
                    <label for="new_dialogue_state_name">Pick an internal ID for a new dialogue state:</label>
                    <input id="new_dialogue_state_name" class="name-input" pattern="[a-z0-9_\-]+" type="text" placeholder="first_steps, goodbyes, ..."/>
                    <input id="new_dialogue_state_submit" type="submit" class="btn btn-success btn-sm" value="New State">
                    <p id="new_dialogue_state_log"></p>
                </form>
            </nav>
        </div>
        <div class="main" id="dialogue-state-pane">
            <h3>State Properties</h3>
            <form id="dialogue-state-properties">
                <label>Type</label>
                <span>
                    <input type="radio" autocomplete="off" class="layout-selection" value="default" checked id="dialogue-state-default-type" name="dialogue-state-type"><label for="dialogue-state-default-type"><span>Default</span>{% include_relative default-dialogue-layout.svg %}</label>
                    <input type="radio" autocomplete="off" class="layout-selection" value="ask_confirmation" id="dialogue-state-confirm-type" name="dialogue-state-type"><label for="dialogue-state-confirm-type"><span>Confirm</span>{% include_relative confirm-dialogue-layout.svg %}</label>
                    <input type="radio" autocomplete="off" class="layout-selection" value="end_dialogue" id="dialogue-state-ending-type" name="dialogue-state-type"><label for="dialogue-state-ending-type"><span>Ending</span>{% include_relative end-dialogue-layout.svg %}</label>
                </span>
                <label for="dialogue-state-action">Action</label>
                <span class="dialogue-state-flex" id="dialogue-state-action">
                    <select autocomplete="off" id="dialogue-state-action-type">
                        <option selected value="">No Action</option>
                        <option value="blabber:command" data-pattern=".+" data-placeholder="say hi, /effect give @s strength, ...">Command</option>
                        <option value="requiem:remnant_choice" data-pattern="[a-z0-9_-]+:[a-z0-9_/-]+" data-error-message="Must be a valid namespaced identifier (modid:name)" data-placeholder="requiem:remnant, ratsmischief:ratified, ...">[Requiem] Remnant Choice</option>
                    </select>
                    <input type="text" id="dialogue-state-action-value"/>
                </span>
                <label for="dialogue-state-text" class="not-dialogue-ending">Text</label>
                <span class="dialogue-state-flex not-dialogue-ending">
                    <input type="text" class="mc-text-input" id="dialogue-state-text" data-placeholder-literal="Welcome traveller, ..." data-placeholder-translate="mymod:dialogue.my_dialogue.{state}.text"/>
                </span>
            </form>
            <!-- Editable table -->
            <div class="card dialogue-choice-editor not-dialogue-ending">
                <h3 class="no_toc card-header font-weight-bold py-4 dialogue-editor-header">
                    Available Choices
                    <span class="table-add float-right mb-3 mr-2"><button type="button"
                                                                          class="btn btn-success btn-rounded btn-sm my-0">New choice</button></span>
                </h3>
                <div class="card-body">
                    <div class="table-editable">
                        <table class="table table-bordered table-responsive-md table-striped text-center">
                            <thead>
                            <tr>
                                <th class="text-center">Text</th>
                                <th class="text-center table-buttons">Next State</th>
                                <th class="text-center table-buttons">Sort</th>
                                <th class="text-center table-buttons">Remove</th>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include_relative footer.liquid toggleIcon='svg/graph-outline.svg' %}
</div>

<script src="/scripts/FileSaver.min.js"></script>
<script src="/scripts/editable-table.js"></script>
<script src="dialogue-editing.js" type="module"></script>
