<li>
    <a class="toc-external-link gradle-link" href="https://plugins.gradle.org/plugin/io.github.ladysnake.chenille" title="Gradle">
        {% include svg/gradle-secondary.svg %}
        {% include svg/external-link.svg %}
    </a>
</li>
