<li class="toc-external-link gradle-link">
    <a href="https://plugins.gradle.org/plugin/io.github.ladysnake.chenille">
        {% include svg/gradle-secondary.svg %}
        {% include svg/external-link.svg %}
    </a>
</li>
