<li>
    <a class="toc-external-link gradle-link" href="https://plugins.gradle.org/plugin/io.github.ladysnake.chenille" title="Gradle">
        <span>
            {% include svg/gradle-secondary.svg %} Gradle Repository
        </span>
        {% include svg/external-link.svg %}
    </a>
</li>
