---
layout: default
no_anchor_headings: true
title: Blabber Dialogue Editor
extra_css: /wiki/blabber/dialogue_generator/dialogue.css
og:
    img: /img/blabber.png
    img_alt: blabber logo
    desc: Online editor for blabber dialogue
---
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="/wiki/blabber">Blabber</a></li>
        <li class="breadcrumb-item"><a href="/wiki/blabber/dialogue_generator">Dialogue Editor</a></li>
        <li class="breadcrumb-item active" aria-current="page"><span id="dialogue-filename" contenteditable="true">untitled</span>.json</li>
    </ol>
</nav>

{% include_relative header.liquid %}

<div id="dialogue-editor" hidden>
    <div id="dialogue-graph">
        <p>
            Import a dialogue or create some states in the table view to get started
        </p>
    </div>
    {% include_relative footer.liquid toggleIcon='svg/view-dashboard-outline.svg' %}
</div>

<script src="/scripts/FileSaver.min.js"></script>
<script src="dialogue-graph.js" type="module"></script>
