---
title: Welcome to the Requiem Wiki!
layout: requiem_wiki
---
{% assign len = site.requiem_wiki | size | minus: 1 %}
{% for i in (0..len) %}
{% assign col = i | modulo: 3 %}
{% assign page = site.requiem_wiki[i] %}
{% if col == 0 %}
<div class="row">
{% endif %}
	<div class="col-md-4">
		<a href="{{ page.url }}">
			<div class="service-block text-center">
				<img src="{{ page.icon }}" class="mod_icon">
				<h2 class="home">{{ page.title }}</h2>
			</div>
		</a>
	</div>
{% if col == 2 %}
</div>
{% endif %}
{% endfor %}
