#dialogue-state-list {
  padding-bottom: 2.5rem;
}

#new_dialogue_state {
  display: flex;
  flex-direction: column;
  width: 95%;
  padding-top: 2rem;
  border-top: 2px solid var(--button-hover-outline);

  label {
    white-space: normal;
  }

  input {
    width: 99%;
    margin-left: 2px;
    border: 1px transparent;
    &:invalid {
      border: 1px solid var(--color-invalid);
      color: var(--color-invalid);
      & + input[type=submit] {
        background-color: var(--color-invalid);
      }
    }
  }

  &_name {
    border: none;
    display: block;
    height: 45px;
    background-color: var(--button-background);
    text-align: left;
    margin-bottom: 2px;
    padding-left: 1rem;
  }
}

.layout-selection {
  opacity: 0;
  width: 0;
  & + label {
    display: inline-flex;
    flex-direction: column;
    max-width: 30%;
    margin-right: 1rem;
    margin-left: 0.5rem;
    border: 2px solid var(--button-outline);
    background-color: var(--base-background-color);
    span {
      text-align: center;
      border-bottom: 2px solid var(--button-outline);
      background-color: var(--button-background);
    }
    svg {
      margin-top: -3.9rem;
      margin-bottom: -3.9rem;
    }
  }
  &:checked + label {
    border-color: var(--button-selected-outline);
    span {
      border-color: var(--button-selected-outline);
      background-color: var(--button-selected-outline);
    }
  }
}

#dialogue-state-properties {
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: grid;
  grid-template-columns: min-content auto;
  grid-auto-rows: minmax(3.1rem, max-content);
  column-gap: 1rem;
  row-gap: 0.5rem;
  background-color: var(--button-background);
  padding: 1rem;
  align-items: center;

  input {
    background-color: transparent;
    border: 1px solid var(--button-outline);
    padding: 0.5rem;

    &:invalid {
      border-color: var(--color-invalid);
      color: var(--color-invalid);
    }
  }
}

#dialogue-state-pane {
  width: 100%;
}

.dialogue-global-properties {
  h3 {
    display: block;
    margin-bottom: 1rem;
  }

  div {
    display: flex;
    justify-content: space-around;

    & > span {
      display: flex;
      flex-direction: column;
      & > span {
        margin-top: 0.2rem;
      }
    }
  }

  input, select {
    &:disabled {
      background-color: var(--button-background);
      border-color: var(--button-background);
      cursor: not-allowed;

      &:hover {
        border-color: var(--color-danger);
      }
    }
  }

  select {
    background-color: var(--base-background-color);
    border: 1px solid var(--button-outline);
    &:hover {
      border-color: var(--button-hover-outline);
    }
  }
}

.dialogue-state-flex {
  display: flex;
}

#dialogue-state-action-value {
  flex-grow: 2;
  &:disabled {
    border-color: transparent;
    color: transparent;
  }
}

.dialogue-footer {
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
}

#dialogue-import-export {
  position: relative;
  display: flex;
  justify-content: space-around;
  padding: 1rem;
  background-color: var(--base-background-color);
  border-top: 1px solid var(--button-outline);
  outline: 2px solid var(--base-background-color);

  svg {
    margin-right: 1rem;
  }

  div.drop-zone {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 80%;
    visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--button-background);
    font-weight: bold;
    font-size: large;
    &.hovered {
      color: var(--button-selected-outline);
    }
    &.active {
      visibility: visible;
    }
    strong {
      margin: 0 0.5rem 0 0.5rem;
      font-weight: bolder;
      font-size: larger;
      &::before {
        content: '>';
        margin-right: 0.3rem;
      }
      &::after {
        content: '<';
        margin-left: 0.3rem;
      }
    }
  }
}

#dialogue-import {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;

  & + label {
    display: flex;
    align-items: center;
  }
}

#dialogue-import-export button {
  display: flex;
  align-items: center;
  margin-left: 1rem;
}

.dialogue-io-log {
  text-align: center;
  font-weight: bold;
  margin: 0;
  &.error-log {
    background-color: var(--color-invalid);
  }
  &.warning-log {
    background-color: var(--color-warning);
  }
  &.info-log {
    background-color: var(--color-primary);
  }
}

#dialogue-state-text {
  width: 100%;
  &:disabled {
    border-color: transparent;
    color: transparent;
  }
}

.dialogue-choice-editor select, #dialogue-state-properties > *:nth-child(even) {
  width: 100%;
}

.dialogue-choice-editor select, #dialogue-state-action-type {
  background-color: transparent;
  border: none;
  padding: 1rem;
  option {
    background-color: var(--base-background-color);
  }
}

.dialogue-choice-editor th select {
  padding: 0 0 0 2rem;
  text-align: center;
}

#dialogue-graph {
  height: 45vh;
  text-align: center;
  p {
    font-weight: bold;
    padding-top: 10rem;
  }
}
