<ul role="group" class="toc-list">
    {% if page.curse_project %}
        <li class="toc-item">
            <a class="cf-link toc-external-link" href="https://www.curseforge.com/minecraft/mc-mods/{{ page.slug }}">
                <span>
                    {% include svg/cf-logo.svg %} CurseForge Page
                </span>
                {% include svg/external-link.svg %}
            </a>
        </li>
    {% endif %}
    {% if page.modrinth %}
        <li class="toc-item">
            <a class="mr-link toc-external-link" href="https://modrinth.com/mod/{{ page.slug }}">
                <span>
                    {% include svg/modrinth-logo.svg %} Modrinth Page
                </span>
                {% include svg/external-link.svg %}
            </a>
        </li>
    {% endif %}
    <li class="toc-item">
        <a class="gh-link toc-external-link" href="https://github.com/Ladysnake/{{ page.slug }}">
            <span>
                {% include svg/github-logo.svg %} GitHub Repository
            </span>
            {% include svg/external-link.svg %}
        </a>
    </li>
    {% if page.extra_toc_links %}
        {% include {{page.extra_toc_links}} %}
    {% endif %}
</ul>

<hr/>
