{%- if include.slots -%}
{%- assign slots = include.slots -%}
{%- else -%}
{%- assign slots = "" | split: ","
        | push: include.i1
        | push: include.i2
        | push: include.i3
        | push: include.i4
        | push: include.i5
        | push: include.i6
        | push: include.i7
        | push: include.i8
        | push: include.i9
-%}
{%- endif -%}
<article class="mcui crafting-table" aria-label="Crafting recipe">
{% if include.shaped %}{% assign grid_tag = "ol" %}{% else %}{% assign grid_tag = "ul" %}{% endif %}
<{{ grid_tag }} class="crafting-grid">
{%- for slot in slots -%}
<li class="invslot">
{% if slot %}
{%- capture alt_prefix-%}Ingredient {{ forloop.index }}: {% endcapture -%}
{%- include mc/itemstack.liquid item=slot alt_prefix=alt_prefix -%}
{% endif %}
</li>
{%- endfor -%}
</{{ grid_tag }}>
<div class="invslot invslot-large">
{%- include mc/itemstack.liquid item=include.result count=include.count alt_prefix="Result: " large="true"-%}
</div>
</article>
