@property --admonition-color {
  syntax: "<color>";
  inherits: false;
  initial-value: #000;
}

.admonition {
  border-left: 0.3em solid var(--admonition-color);
  padding: 0 1em;
}

.admonition-note {
  --admonition-color: var(--color-info);
}

.admonition-important {
  --admonition-color: var(--color-important);
}

.admonition-warning {
  --admonition-color: var(--color-warning);
}

.admonition-icon {
  &::before {
    margin-right: 1em;
  }
  &.admonition-note::before {
    content: '💡';
  }
  &.admonition-warning::before {
    content: '⚠️';
  }
  &.admonition-important::before {
    content: '💬';
  }
}

.admonition-heading {
  color: var(--admonition-color);
}
