@import "../mixins";

.dropdown-backdrop {
	display: none;
}

.dropdown {
	label svg {
		width: 1em;
		height: 2ex;
		margin-left: -0.2em;
		vertical-align: middle;
	}

	& > input {
		@extend .styled-checkbox;

		&:focus-visible + label {
			outline: 5px auto var(--button-selected-outline);
		}

		& ~ ul {
			display: none;
			list-style: none;
			padding: 15px 0;

			@include notMobile {
                position: absolute;
                z-index: 500;
			}
		}

		&:checked {
		    @include notMobile {
                width: 100vw;
                height: 100vh;
                position: fixed;
                top: 0;
                left: 0;
                z-index: 400;
		    }

			& + label {
                @include notMobile {
                    position: relative;
                    z-index: 450;
                }
			}

			& ~ .dropdown-backdrop {
			    @include notMobile {
                    display: block;
                    position: fixed;
                    top: 0;
                    left: 0;
                    z-index: 350;
                    content: " ";
                    width: 100vw;
                    height: 100vh;
                    background-color: var(--base-background-color);
                    opacity: 40%;
			    }
			}

			& ~ ul {
				display: flex;
				flex-direction: column;
			}
		}
	}
}

.dropdown-menu {
	background: #fff;
	border: none;
	border-radius: 0;
	padding-top: 15px;
	padding-bottom: 15px;

	@include darkMode {
		background: #171717;
		color: #777;
	}
}

.dropdown-link {
	padding-left: 1em;
	padding-right: 1em;
	padding-top: 0.7ex;
	color: var(--base-text-color);
	height: 4ex;
}

.mod-dropdown-link {
	@extend .dropdown-link;

	display: block;
	clear: both;
	font-weight: normal;
	line-height: 1.42857143;
	white-space: nowrap;

	&:hover,
	&:focus {
		color: var(--accent-text-color);
		background-color: var(--accent-background-color);
		text-decoration: none;
	}
}
