@import '../mixins';

#ladysnake-header {
  border: none;
  display: grid;
  grid-template-columns: 1fr max-content max-content;
  grid-template-areas: "logo darkmode nav";
  align-items: center;
  padding: 0 15px;
  margin: 2.5ex auto 0;

  @include desktop {
    width: 97.5%;

    .navbar-brand {
      margin-left: -15px;
    }
  }

  @include mobile {
    grid-template-areas: "logo darkmode toggle" "nav nav nav";
  }

  .discord-invite {
    padding-bottom: 1.4ex;
  }

  .nav-item {
    @include mobile {
      width: 100%;
    }
  }

  .nav-item > a, .nav-item > label {
    display: block;
  }

  .nav-item > a, .nav-item > label, button {
    text-transform: none;
    color: var(--base-text-color);
    background-color: transparent;
    border: none;
    padding: 15px;
    font-weight: unset;
    margin-bottom: 0;
    text-align: center;

    &:hover, &:focus-visible {
      text-decoration: underline;
    }

    &:focus-visible {
      outline: 5px auto var(--button-selected-outline);
    }
  }

  .dropdown-toggle svg {
    height: 30px;
  }
}

#ladysnake-navbar {
  grid-area: nav;
  justify-self: right;

  @include mobile {
    font-size: medium;
    line-height: 1.5ex;
    max-height: 0;
    overflow-y: scroll;
    transition: max-height 0.3s;
    visibility: hidden;
    width: 100%;
    border-top: 1px solid var(--base-text-color);
    border-bottom: 1px solid var(--base-text-color);
    margin-bottom: 1ex;
  }

  & > ul {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;

    @include mobile {
      flex-direction: column;
      justify-content: center;
    }

    & > .open > a {
      &,
      &:focus,
      &:hover {
        background-color: var(--button-background);
      }
    }
  }
}

#header-mobile-nav-toggle {
  @extend .styled-checkbox;
  display: none;

  // SVG animation adapted from https://blog.logrocket.com/how-to-animate-svg-css-tutorial-examples#hamburger-menu
  &:checked + label > svg {
    .middle {
      transform: rotate(45deg);
      transform-origin: center top;
      x: 55px;
      y: 35px;
    }

    .top {
      width: 0;
      opacity: 0;
    }

    .bottom {
      transform: rotate(-45deg);
      transform-origin: center top;
      x: -20px;
      y: 30px;
    }
  }

  & + label {
    grid-area: toggle;
    justify-self: right;
    width: 3em;
    height: 3em;
    display: none;
    margin: 0;

    @include darkMode {
      border-color: #e7e7e7;
    }

    @include mobile {
      display: flex;
    }

    &:focus,
    &:hover {
      background-color: #bdc3c7;

      @include darkMode {
        background-color: #333;
      }
    }

    .icon-bar {
      background-color: #2c3e50;

      @include darkMode {
        background-color: #eee;
      }
    }

    svg {
      rect {
        transition: all .3s;
      }
    }
  }

  @include mobile {
    display: inline;

    &:checked ~ #ladysnake-navbar {
      visibility: visible;
      max-height: 40ex;
    }
  }

  &:focus-visible + label {
    border-color: var(--button-selected-outline);
  }
}

#ladysnake_logo {
  grid-area: logo;
  justify-self: left;
  width: 340px;
  height: 80px;

  img {
    vertical-align: middle;
    min-width: 340px;
    min-height: 80px;

    // replace the real image with a solid color
    content: linear-gradient(var(--base-text-color), var(--base-text-color));
    color: transparent; // prevent the alt from showing
    mask-image: url('/img/ladysnake-logo-light.png');
    mask-repeat: no-repeat;
    mask-size: contain;
    @include mobile {
      mask-image: url('/img/ladysnake-icon-light.png');
      @include darkMode {
        mask-image: url('/img/ladysnake-icon-dark.png');
      }
    }
  }
}

.download-notice {
  @extend .admonition;
  @extend .admonition-warning;

  display: inline-block;
  max-width: 15em;
  line-height: 95%;
  font-size: 80%;
  margin-bottom: 0.8em;
}