.table-striped {
	& > tbody {
		& > tr:nth-of-type(odd) {
			background-color: #ececf6;
			@include darkMode {
				background-color: #2f2f2f;
			}
		}
	}
}

.table-figure {
	width: 98%;
	margin: 1em auto;
}

.table {
	& > tbody {
		& > tr {
			& > td.input-cell {
				padding: 0;
			}
		}
	}
}

.table-buttons {
	width: 12rem;
}

.table-bordered {
	& > thead,
	& > tbody,
	& > tfoot {
		& > tr {
			& > th,
			& > td {
				@include darkMode {
					border-color: #333;
				}
			}
		}
	}
}
