.color-grey {
	color: #bdc3c7;
}
.color-light {
	color: #f6f8f9;
}
.color-dark {
	color: #333;
}
.color-primary {
	color: var(--color-primary);
}
.color-success {
	color: var(--color-success);
}
.color-info {
	color: var(--color-info);
}
.color-warning {
	color: var(--color-warning);
}
.color-danger {
	color: var(--color-danger);
}
