.font-weight-sm {
	font-weight: 300;
}
.font-weight-md {
	font-weight: 600;
}
.font-weight-lg {
	font-weight: 900;
}

.font-size-sm {
	font-size: 11px;
}
.font-size-md {
	font-size: 18px;
}
.font-size-lg {
	font-size: 36px;
}
