<hr/>
<li>
    <a class="parlour-link toc-external-link" href="/tools/parlour">
        <span>
            <img alt="blabber logo" src="/img/blabber.png" width="400" height="400"/>Parlour (dialogue editor)
        </span>
    </a>
</li>
