<!DOCTYPE html>
<html lang="en-US">

{% include header.html %}

<body>
    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"><img src="/img/ladysnake_logo_0.png" id="ladysnake_logo"></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav navbar-right">
                    {% if page.slug %}
                    <li class="dropdown">
                        <a href class="dropdown-toggle" data-toggle="dropdown" onclick="doTheThing()">Download <b class="caret"></b></a>
                        <ul id="mod-dropdown" class="dropdown-menu">
                            <!-- uhhhhhhhhhhh -->
                        </ul>
                    </li>
                    {% endif %}
                    <li><a onclick="setDarkMode()"><img id="preload-darkmodeicon" src="/img/placeholder.png" /></a></li>
                    <li><a href="/index.html">Home</a></li>
                    <li><a href="/about.html">About Us</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Mods <b class="caret"></b></a>
                        <ul id="dropdown" class="dropdown-menu">
							{% for mod in site.mods %}
                            <li><a href="{{ mod.link }}">{{ mod.title }}</a></li>
							{% endfor %}
							<li><hr /></li>
							<!-- Will be adding Fabric libraries here "shortly" -->
                        </ul>
                    </li>
                    <li><a href="https://ladysnake.github.io/oldsite/">Old Site</a></li>
                    <li><a href="https://discordapp.com/invite/RBHY26t"><img src="/img/DiscordWord_0.svg" /></a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div>
    </nav>

    <!-- START SECTION -->
    <div class="container">
	    {{ content }}
    </div>
    <!--/.section -->
    <div class="container">
        <!-- This is the footer! Created by sschr15... -->
        <div class="row text-center">
            Site owned and operated by Ladysnake.&nbsp;
            <span><a href="https://github.com/Ladysnake"><img src="/img/GitHub_0.png" class="p-wiki-icon" ></a></span>
        </div>
    </div>

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Bootstrap JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
        integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
        crossorigin="anonymous"></script>
    <!-- Custom Night mode Option -->
    <script src="/scripts/darkmode.js"></script>
    {% if page.slug %}
    <!-- Mod downloading dropdown, (almost) direct from our site! -->
    <script src="/scripts/mod-download.js"></script>
    <!-- adding the ability to print the pages out -->
    <script src="https://printjs-4de6.kxcdn.com/print.min.js"></script>
    {% endif %}
    <!-- Test if mobile to change a thing -->
    <script src="/scripts/mobile.js" ></script>

</body>

</html>
