---
layout: default
---
<div class="wiki">

	<h4><a href="./landing">Back</a></h4>

	<div id="printJS-Content">

		<h1>{{ page.title }}&nbsp;</h1>
		{% if page.icon %}
		<img alt="Icon" class="h1-wiki-icon" src="{{ page.icon }}">
		{% endif %}

		{{ content }}

	</div>
</div>