details {
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0, rgba(27, 31, 35, 0.15) 0 0 0 1px;
  div {
    padding: 1rem;
  }

  summary {
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0, rgba(27, 31, 35, 0.15) 0 0 0 1px;
    cursor: pointer;
    padding: 0.1rem;
    display: block;

    > * {
      margin-left: 1rem;
      display: list-item;
      list-style-position: inside;
    }
  }
}
