@import "../mixins";

/* Directory list (by Alex Raven, from https://codepen.io/asraven/pen/qbrQMX)
-------------------------------------------------------------- */

.directory-list {
  padding-left: 18px;

  ul {
    margin-left: 10px;
    padding-left: 20px;
    border-left: 1px dashed #ddd;

    @include darkMode {
      border-color: #333;
    }
  }

  li {
    list-style: none;
    margin: 0.5rem 0 0.5rem;

    /* Directory list: icons
    -------------------------------------------------------------- */
    & > *:first-child {
      margin-top: 1px;
      padding: 0;
    }

    &.folder > *:first-child:before {
      margin-right: 5px;
      content: "";
      height: 20px;
      vertical-align: middle;
      width: 20px;
      background-repeat: no-repeat;
      display: inline-block;
      background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'><path fill='lightblue' d='M96.429,37.5v39.286c0,3.423-1.228,6.361-3.684,8.817c-2.455,2.455-5.395,3.683-8.816,3.683H16.071 c-3.423,0-6.362-1.228-8.817-3.683c-2.456-2.456-3.683-5.395-3.683-8.817V23.214c0-3.422,1.228-6.362,3.683-8.817 c2.455-2.456,5.394-3.683,8.817-3.683h17.857c3.422,0,6.362,1.228,8.817,3.683c2.455,2.455,3.683,5.395,3.683,8.817V25h37.5 c3.422,0,6.361,1.228,8.816,3.683C95.201,31.138,96.429,34.078,96.429,37.5z' /></svg>");
      background-position: center top;
      background-size: 75% auto;

      @include darkMode {
        filter: hue-rotate(120deg);
      }
    }
  }
}
