@import '../mixins';

body {
	font-family: "Poppins", sans-serif;
	text-align: justify;

	color: var(--base-text-color);
	background: var(--base-background-color);
}

.container {
    @include desktop {
        width: 97.5%;
    }
}
