@import '../mixins';

// THIS IS GLOBAL
body {
	font-family: "Poppins", sans-serif;
	text-align: justify;
	font-size: 14px;
	line-height: 1.4;

	color: var(--base-text-color);
	background: var(--base-background-color);
}

* {
	@media(prefers-reduced-motion: reduce) {
		transition: none !important;
	}
}

.container {
    @include desktop {
        width: 97.5%;
    }
}
