@import '../mixins';

.navbar-default {
	background-color: #f6f8f9;
	border: none;
	margin-bottom: 0;
	margin-top: 20px;

	@include darkMode(&) {
		background-color: #171717;
		margin-bottom: 0;
		margin-top: 20px;
	}

	.navbar-nav {
		& > li > a, & > li > button {
			position: relative;
			display: block;
			padding: 10px 15px;
			font-weight: 600;
			font-size: 12px;
			text-transform: none;
			color: var(--base-text-color);
			background-color: transparent;
			border: none;

			@media (min-width: 768px) {
				padding-top: 15px;
				padding-bottom: 15px;
			}

			img, svg {
				height: 30px;
			}
		}

		& > .open > a {
			&,
			&:focus,
			&:hover {
				background-color: #fff;

				@include darkMode(&) {
					background-color: #171717;
				}
			}
		}
	}

	.navbar-toggle {
		border-radius: 0;
		margin-top: 22px;
		transition: all 0.3s;

		border-color: #2c3e50;

		@include darkMode(&) {
			border-color: #eee;
		}

		&:focus,
		&:hover {
			background-color: #bdc3c7;

			@include darkMode(&) {
				background-color: #333;
			}
		}

		.icon-bar {
			background-color: #2c3e50;

			@include darkMode(&) {
				background-color: #eee;
			}
		}
	}

	.navbar-brand {
		color: #2c3e50;
		&,
		.navbar-nav > li > a {
			line-height: 80px;
			font-weight: bold;
			height: 80px;
			padding: 0 15px;
			letter-spacing: -0.025em;
		}

		font-size: 24px;
		letter-spacing: -0.05em;

		@include darkMode(&) {
			color: #eee;
		}
	}
}

#ladysnake_logo {
    content: url('/img/ladysnake_logo_0.png');
    @include darkMode(&) {
        content: url('/img/ladysnake_logo_1.png');
    }
    @include mobile {
        content: url('/img/ladysnake_icon_0.png');
        @include darkMode(&) {
            content: url('/img/ladysnake_icon_1.png');
        }
    }
}
