#search-bar {
  form {
    display: flex;
    flex-direction: column;
  }

  input {
    max-width: 100%;
  }

  input[type=submit] {
    background-color: transparent;
    border-color: transparent;
    width: fit-content;
    position: absolute;
    top: 3.3em;
    left: 85%;
  }
}
