.section {
	padding-top: 80px;
	padding-bottom: 80px;
	position: relative;
	overflow: hidden;
}
.section .background-image {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 0;
}

h2.section-title {
	font-weight: bold;
	text-transform: uppercase;
	font-size: 24px;
	letter-spacing: 5px;
	margin-bottom: 80px;
}
p.section-description {
	font-weight: lighter;
	font-size: 16px;
	margin: 5px 0 5px 0;
}
h2.section-title + p {
	margin-top: -70px;
	margin-bottom: 20px;
}
