.table-striped {
	& > tbody {
		& > tr:nth-of-type(odd) {
			@include darkMode(&) {
				background-color: #2f2f2f;
			}
		}
	}
}

.table {
	& > tbody {
		& > tr {
			& > td.input-cell {
				padding: 0;
			}
		}
	}
}

.table-bordered {
	& > thead,
	& > tbody,
	& > tfoot {
		& > tr {
			& > th,
			& > td {
				@include darkMode(&) {
					border-color: #333;
				}
			}
		}
	}
}
