@import '../mixins';

.wiki-container {
  display: flex;

  @include mobile {
    flex-direction: column;
  }
}

.toc-pane {
  @media print {
    visibility: collapse;
  }

  text-align: start;
  overflow: auto;
  width: 33rem;
  flex-shrink: 0.3;
  padding-top: 2rem;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  max-height: 100vh;
  &:first-child {
    margin-right: 1rem;
  }

  &:last-child {
    margin-left: 1rem;
    max-width: 17em;
  }

  @include mobile {
    position: inherit;
    padding-bottom: 2rem;
    border-bottom: 1px solid var(--button-hover-outline);
    max-height: 30vh;
    width: 100%;
  }

  h3 {
    width: 100%;
    padding-bottom: 0.2em;
    border-bottom: 1px solid var(--button-background);
    margin-bottom: 0.8em;
  }
}

.toc {
  white-space: nowrap;

  .gh-link, .cf-link {
    svg {
      height: 1em;
    }
  }

  .mr-link svg {
    height: 1.6em;
    margin-left: -1.8em;
  }

  .gradle-link svg {
    height: 2.3em;
    margin-left: -0.6em;
  }

  .toc-highlighted-link, .toc-external-link {
    border-left: 5px solid var(--button-hover-outline);
  }

  .toc-external-link {
    font-weight: bold;
    margin: 0.4rem 0;
    height: 1.6em;
    svg {
      margin-right: 0.5em;
      color: var(--base-text-color);
      vertical-align: middle;
    }
    text-decoration: none;
    padding-top: 0;
    padding-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &:hover, &:focus {
      border-color: var(--button-selected-outline);
    }
    .external-link-icon {
      color: inherit;
    }
  }

  .toc-subgroup {
    padding-left: 1em;
  }

  .gh-link {
    img {
      height: 1.2em;
    }
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  a {
    padding: 0.4rem 1rem;
    text-overflow: ellipsis;
    width: 100%;
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;

    &:hover, &:focus-visible {
      background-color: var(--accent-background-color);
    }
  }
}

.sidebar {
  font-size: 12px;

  h2 {
    font-size: 1.4em;
  }

  h3 {
    font-size: 1.25em;
  }

  ul {
    padding: 0;
    margin: 0;
  }
}

main {
  flex-grow: 1
}