.badge {
	display: inline-block;
	min-width: 10px;
	border-radius: 10px;
	padding: 3px 7px;
	font-weight: bold;
	line-height: 1;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	background-color: var(--button-background);
	color: var(--base-text-color);
}

.badge-danger {
	background-color: var(--color-danger);
	color: var(--base-background-color);
}

.badge-warning {
	background-color: var(--color-warning);
	color: var(--base-background-color);
}

/*	BACKGROUNDS */
.background-grey {
	background-color: #bdc3c7;
}
.background-light {
	background-color: #f6f8f9;
}
.background-dark {
	background-color: #2c3e50;
}
.background-primary {
	background-color: var(--color-primary);
}
.background-success {
	background-color: var(--color-success);
}
.background-info {
	background-color: var(--color-info);
}
.background-warning {
	background-color: var(--color-warning);
}
.background-danger {
	background-color: var(--color-danger);
}
