img {
    &.pixel-art {
        image-rendering: pixelated;
    }
    max-width: 100%;
}

svg {
    max-width: 100%;
    max-height: 100%;
}

.mod-icon {
    position: relative;
    height: 150px;
    width: 150px;

    img {
        position: absolute;
        will-change: opacity; // ???? Chromium weird 1-pixel shift when updating opacity
        @supports (-webkit-hyphens:none) {  // ?????? Safari weird blur when updating opacity
            will-change: unset;
        }
    }

    svg {
        fill: var(--base-text-color);
        transition: fill 100ms ease-in-out;
        width: 100%;
        height: 100%;
    }
}

img.rounded {
    border-radius: 1.6rem;
}

.wiki {
    margin-top: 40px;
    margin-bottom: 40px;
}

.container img.wiki {
    max-width: 100%;
    display: block;
    margin: auto;
}

.h1-wiki-icon {
    height: 48px;
    width: 48px;
    vertical-align: middle;
    margin: 20px 0 20px 0;
    display: inline-block;
}

.h3-wiki-icon {
    height: 24px;
    margin: 10px 0 1px 5px;
    display: inline-block;
    vertical-align: bottom;
}

.p-wiki-icon {
    height: 18px;
    margin-left: 1em;
    display: inline-block;
    vertical-align: bottom;

    svg {
        width: 100%;
        height: 100%;
        fill: var(--base-text-color);
    }
}

.profile-pic {
    height: 150px;
}
