#blabber-parlour {
  display: flex;
  flex-direction: column;
  flex: auto;
  gap: 1em;
}

#dialogue-filename {
  border-radius: 0.1em;

  &:not(:focus-visible):hover {
    outline: 1px solid var(--button-outline);
  }
}

#dialogue-import-export {
  flex: auto;
  position: relative;
  display: flex;
  justify-content: space-around;
  padding: 1rem;
  background-color: var(--base-background-color);
  border-top: 1px solid var(--button-outline);
  outline: 2px solid var(--base-background-color);
}

.choice-index {
  font-family: monospace;
  color: var(--accent-text-color);
}
